@model DataMashUp.DTO.RegisterDto
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/css/login.css" />

</head>

<body>
	<div class="login-wrap">
		<div class="login-html">
@*			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Click to Sign Up</label>
*@			<form class="login-form" asp-action="Register" asp-controller="Auth">
				<div class="sign-up-htmg">
					<div class="group">
						<label asp-for="Email" class="label">Email Address</label>
						<input asp-for="Email" id="pass" type="email" class="input">
						<span class="text-danger" asp-validation-for="Email"></span>
					</div>
					<div class="group">
						<label asp-for="Password" class="label">Password</label>
						<input asp-for="Password" id="pass" type="password" class="input" data-type="password">
						<span class="text-danger" asp-validation-for="Password"></span>
					</div>
					<div class="group">
						<label asp-for="ConfirmPassword" class="label">Repeat Password</label>
						<input asp-for="ConfirmPassword" id="pass" type="password" class="input" data-type="password">
						<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
					</div>
					
					<div class="group">
						<input type="submit" class="button" value="Sign Up">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						@*<a><label></label> for="tab-1">Already Member?</a>*@
					</div>
				</div>
			</form>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
